.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #fddde6; /* 優しいピンク色 */
}

.App-header {
  width: 100%;
  background-color: #fbb1c1; /* より優しいピンク色 */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-title {
  font-size: 1.8em;
}

.Menu-icon {
  font-size: 2em;
  cursor: pointer;
}

.content {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: start;
}

.left-panel, .right-panel {
  flex: 1;
  margin: 20px;
}

.Girl-image, .Menu-image {
  width: 300px;
  display: block;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #ffccdd;
  border: none;
  color: #600030;
}

button:hover {
  background-color: #ee88aa;
}

button:active {
  background-color: #cc6688;
}
