.App {
  text-align: center;
  background-color: #fff0f5; /* 非常に淡いピンク色 */
}

.App-header {
  background-color: #ff69b4; /* 鮮やかなピンク色 */
  padding: 20px 0;
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.Header-title {
  font-size: 2em;
  margin: 0;
}

.Content {
  margin-top: 120px; /* ヘッダーの高さに合わせて調整 */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Girl-image {
  width: 300px;
  margin: 20px 0;
}

button {
  background-color: #ffccdd;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  color: #600030;
}

button:hover {
  background-color: #ee88aa;
}

button:active {
  background-color: #cc6688;
}

p {
  font-size: 1.2em;
  margin-top: 20px;
}
